#real-numbers {
    display: flex;
    margin-top: 20px;
}
#real-numbers input[type=range] {
    /* transform: rotate(-90deg) translateX(-80px); */
    writing-mode: vertical-lr; 
    direction: rtl;
    width: 5ch
}